In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
data_hechos = pd.read_excel("homicidios.xlsx", sheet_name="HECHOS")

In [5]:
data_hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

In [6]:
data_victimas = pd.read_excel("homicidios.xlsx", sheet_name="VICTIMAS")

In [7]:
data_victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

A continuación vamos a segmentar los datos delos siniestros en diferentes dataframes que luego exportaremos a la carpeta "data"

In [8]:
data_hechos.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [13]:
incidentes = data_hechos[['ID', 'N_VICTIMAS', 'FECHA', 'HORA', 'PARTICIPANTES', 'VICTIMA', 'ACUSADO']]
incidentes.head()

,ID,N_VICTIMAS,FECHA,HORA,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,04:00:00,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,01:15:00,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,07:00:00,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,00:00:00,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,05:20:00,MOTO-PASAJEROS,MOTO,PASAJEROS

In [12]:
localizacion = data_hechos[['ID', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y']]
localizacion.head()

,ID,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y
0,2016-0001,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022
1,2016-0002,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709
2,2016-0003,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362
3,2016-0004,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974
4,2016-0005,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630

In [17]:
tipos_de_calles = {}
for i in data_hechos['TIPO_DE_CALLE'].unique():
    tipos_de_calles[f"{i}"] = ""


tipos_de_calles["CALLE"] = "Arteria cuya calzada tiene un ancho conprendido entre cinco (5) y trece (13) metros. Incluye paisaje."
tipos_de_calles["AVENIDA"] = "Arteria cuya calzada tiene un ancho total de por lo menos trece (13) metros."
tipos_de_calles["AUTOPISTA"] = "Via multicarril con calzadas para ambas manos separadas fisicamente, sin creces de nivel, con accesos controlados y sin ingreso desde los predios frentistas lindates. Incluye ingresos y egresos de las mismas y distribuciones."
tipos_de_calles["GRAL PAZ"] = "Avenida General Paz, ambos sentidos. Incluye ingresos y egresos de las mismas, distribuidores y calle colectora."

In [31]:
df_calles = pd.DataFrame(tipos_de_calles, index= ['Descripcion'])
df_calles = df_calles.T.reset_index()
df_calles = df_calles.reset_index()
df_calles.rename(columns= {'index': 'Calificacion', 'level_0': 'ID_calle'}, inplace= True)
df_calles

   ID_calle Calificacion                                        Descripcion
0         0      AVENIDA  Arteria cuya calzada tiene un ancho total de p...
1         1     GRAL PAZ  Avenida General Paz, ambos sentidos. Incluye i...
2         2        CALLE  Arteria cuya calzada tiene un ancho conprendid...
3         3    AUTOPISTA  Via multicarril con calzadas para ambas manos ...

In [41]:
for n, txt in df_calles[['ID_calle','Calificacion']].values:
    localizacion['TIPO_DE_CALLE'] = localizacion['TIPO_DE_CALLE'].str.replace(f"{txt}", f"{n}")

In [46]:
victim_class = {}
for e in incidentes['VICTIMA'].unique():
    victim_class[f"{e}"] = input(f"Descripción de: {e}")

In [53]:
victim_df = pd.DataFrame(victim_class, index= ['Descripcion'])

In [54]:
victim_df = victim_df.T.reset_index()
victim_df = victim_df.reset_index()
victim_df.rename(columns= {"index": "Calificacion", "level_0": "Type_Victim"}, inplace= True)
victim_df

   Type_Victim Calificacion                                        Descripcion
0            0         MOTO  Vehiculo a motor no carrozado que incluye moto...
1            1         AUTO  Vahículo a motor destinado al transporte de pe...
2            2       PEATON  Víctima distinta de cualquier ocupante de un v...
3            3           SD                Sin datos sobre el tipo de víctima.
4            4       CARGAS  Vehículo a motor destinado al transporte de ca...
5            5    BICICLETA  Vehículo con al menos dos ruedas, que generalm...
6            6    PASAJEROS  Personas lesionadas que se encuantran dentri, ...
7            7        MOVIL  Vehículos de emergencia: moviles policiales, a...
8            8  OBJETO FIJO  Colisión con objetos inmóviles fijados de mane...
9            9  PEATON_MOTO

In [57]:
for ix, txt in victim_df[['Type_Victim', 'Calificacion']].values:
    incidentes['VICTIMA'] = incidentes['VICTIMA'].str.replace(f"{txt}", f"{ix}")

incidentes

,ID,N_VICTIMAS,FECHA,HORA,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,04:00:00,MOTO-AUTO,0,AUTO
1,2016-0002,1,2016-01-02,01:15:00,AUTO-PASAJEROS,1,PASAJEROS
2,2016-0003,1,2016-01-03,07:00:00,MOTO-AUTO,0,AUTO
3,2016-0004,1,2016-01-10,00:00:00,MOTO-SD,0,SD
4,2016-0005,1,2016-01-21,05:20:00,MOTO-PASAJEROS,0,PASAJEROS
...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,17:10:00,MOTO-AUTO,0,AUTO
692,2021-0094,1,2021-12-20,01:10:00,MOTO-AUTO,0,AUTO
693,2021-0095,1,2021-12-30,00:43:00,MOTO-CARGAS,0,CARGAS
694,2021-0096,1,2021-12-15,10:30:00,AUTO-CARGAS,1,CARGAS
695,2021-0097,1,2021-11-18,06:10:00,BICICLETA-AUTO,5,AUTO

In [59]:
acusado_class = {}
for x in incidentes['ACUSADO'].unique():
    acusado_class[f"{x}"] = input(f"{x}")

In [63]:
acusado_df = pd.DataFrame(acusado_class, index=["Descripción"])
acusado_df = acusado_df.T.reset_index().reset_index()
acusado_df.rename(columns= {"index": "Calificacion", "level_0": "id_Acusado"}, inplace= True)
acusado_df

   id_Acusado Calificacion                                        Descripción
0           0         AUTO  Vehiculo a motor destinado al transporte de pe...
1           1    PASAJEROS  Personas lesionadas que se encuentran dentro, ...
2           2           SD               Sin datos del vehículo participante.
3           3  OBJETO FIJO  Colisión contra objetos inmóviles fijados de m...
4           4       CARGAS  Vehículo a motor destiando al transporte de ca...
5           5         MOTO   Vehículo a motor no carrozado que incluye mot...
6           6     MULTIPLE  Cuando participan má de un vehículo como contr...
7           7         OTRO                                    Otros vehículos
8           8    BICICLETA  Vehículo con al menos dos ruedas, que generalm...
9           9         TREN   Equipo móvil que se desplaza exclusivamente s...

In [64]:
for z, txt in acusado_df[['id_Acusado', 'Calificacion']].values:
    incidentes['ACUSADO'] = incidentes['ACUSADO'].str.replace(f"{txt}", f"{z}")

incidentes

,ID,N_VICTIMAS,FECHA,HORA,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,04:00:00,MOTO-AUTO,0,0
1,2016-0002,1,2016-01-02,01:15:00,AUTO-PASAJEROS,1,1
2,2016-0003,1,2016-01-03,07:00:00,MOTO-AUTO,0,0
3,2016-0004,1,2016-01-10,00:00:00,MOTO-SD,0,2
4,2016-0005,1,2016-01-21,05:20:00,MOTO-PASAJEROS,0,1
...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,17:10:00,MOTO-AUTO,0,0
692,2021-0094,1,2021-12-20,01:10:00,MOTO-AUTO,0,0
693,2021-0095,1,2021-12-30,00:43:00,MOTO-CARGAS,0,4
694,2021-0096,1,2021-12-15,10:30:00,AUTO-CARGAS,1,4
695,2021-0097,1,2021-11-18,06:10:00,BICICLETA-AUTO,5,0

In [69]:
for i, txt in victim_df[['Type_Victim', 'Calificacion']].values:
    data_victimas['VICTIMA'] = data_victimas['VICTIMA'].str.replace(f"{txt}", f"{i}")

In [71]:
incidentes.to_csv("./data/Incidente.csv", index= False)
data_victimas.to_csv("./data/Victimas.csv", index= False)
df_calles.to_csv("./data/tipo_Calle.csv", index= False)
localizacion.to_csv("./data/Localizacion.csv", index= False)
victim_df.to_csv("./data/Type_Victimas.csv", index= False)
acusado_df.to_csv("./data/Type_Acusados.csv", index= False)

In [66]:
incidentes.head()

          ID  N_VICTIMAS      FECHA      HORA   PARTICIPANTES VICTIMA ACUSADO
0  2016-0001           1 2016-01-01  04:00:00       MOTO-AUTO       0       0
1  2016-0002           1 2016-01-02  01:15:00  AUTO-PASAJEROS       1       1
2  2016-0003           1 2016-01-03  07:00:00       MOTO-AUTO       0       0
3  2016-0004           1 2016-01-10  00:00:00         MOTO-SD       0       2
4  2016-0005           1 2016-01-21  05:20:00  MOTO-PASAJEROS       0       1

In [67]:
df_calles.head()

   ID_calle Calificacion                                        Descripcion
0         0      AVENIDA  Arteria cuya calzada tiene un ancho total de p...
1         1     GRAL PAZ  Avenida General Paz, ambos sentidos. Incluye i...
2         2        CALLE  Arteria cuya calzada tiene un ancho conprendid...
3         3    AUTOPISTA  Via multicarril con calzadas para ambas manos ...

In [70]:
data_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,0,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,1,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,0,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,0,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,0,MASCULINO,29,2016-02-01 00:00:00